#Header {
  border-bottom: 5px solid black;
  height: 55px;
  position: static;
  background-color: #333;
  padding: 8px 40px;
}
.CommonButton {
  font-size: 16px;
  background-color: #34495e;
  border: 1px solid #2c3e50;
  color: #ecf0f1;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  border-radius: 5px;
}

.CommonButton:hover {
  background-color: #2c3e50;
  border: 1px solid #233140;
  color: #ecf0f1;
}

.ButtonAdjust {
  position: absolute;
  top: 2px;
}
