.user-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1cm 0;
}

.profile-card {
  width: 20%;
  background-color: #fff; 
  border-radius: 15px;
  padding: 20px;
}


.profile-picture {
  width: 100px;
  border-radius: 70px;
  margin-top: 50px;
}

.username-header {
  margin-bottom: 50px;
}


.content-view-card {
  flex: 1;
  background-color: #fff; 
  border-radius: 15px;
  padding: 2px;
  margin-top: -5cm; 
  margin-left: 10px;
  margin-right: 10px;

}